.dashboard {
  padding: 40px;

  background: #f4f6f9;

  min-height: 100vh;
}

.dashboard h1 {
  text-align: center;

  margin-bottom: 10px;
}

.dashboard p {
  text-align: center;

  color: gray;
}

.cards {
  display: flex;

  gap: 20px;

  justify-content: center;

  margin-top: 40px;

  flex-wrap: wrap;
}

.dashboard .card {
  background: white;

  padding: 30px;

  width: 220px;

  border-radius: 12px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  text-align: center;
}

.dashboard .card h2 {
  color: #2563eb;

  margin-bottom: 10px;
}

.buttons {
  margin-top: 40px;

  display: flex;

  justify-content: center;

  gap: 20px;

  flex-wrap: wrap;
}

.buttons button {
  padding: 12px 20px;

  border: none;

  border-radius: 8px;

  background: #2563eb;

  color: white;

  cursor: pointer;
}
